<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
	<Properties>
		<!-- <Property name="LOG_FORMAT">%d{HH:mm:ss} %t %p %c{1} %m%n</Property> -->
		<Property name="LOG_FORMAT">
			%d{yyyy-MM-dd HH:mm:ss.nnn}{GMT+9} %-5level
			%-13.13t [%c{1}] %m%n
		</Property>
		<Property name="BASE_DIR">logs</Property>
		<Property name="fada-mall-log-path">logs/fada-mall</Property>

		<!-- fada.mall -->
		<Property name="mongodb_server">10.250.172.40</Property>
		<Property name="mongodb_port">27017</Property>
		<Property name="mongodb_username"></Property>
		<Property name="mongodb_password"></Property>

		<Property name="mongodb_name">fadaLogDb_TEST</Property>
		<Property name="collection_transactions">transactions</Property>
		<Property name="collection_results">results</Property>
		<Property name="collection_logs">logs</Property>

		<Property name="logger_name_transactions">fada.mall.logging.transactions</Property>
		<Property name="logger_name_results">fada.mall.logging.results</Property>
		<Property name="logger_name_logs">fada.mall.logging.logs</Property>

		<Property name="logger_name_file_transactions">fada.mall.logging.file.transactions</Property>
		<Property name="logger_name_file_results">fada.mall.logging.file.results</Property>
		<Property name="logger_name_file_logs">fada.mall.logging.file.logs</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_FORMAT}" />
		</Console>
		<RollingFile name="File" fileName="${BASE_DIR}/fada.log"
			filePattern="${BASE_DIR}/fada.%d{yyyyMMdd}.log">
			<PatternLayout pattern="${LOG_FORMAT}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${BASE_DIR}">
					<IfFileName glob="*.log" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RandomAccessFile name="RandomAccessFile"
			fileName="async.log" immediateFlush="false" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>

		<!-- fada.mall -->
		<RollingFile name="asyncTransactionsFileAppender"
			fileName="${fada-mall-log-path}/transactions/transactions.log"
			filePattern="${fada-mall-log-path}/transactions/%d{yyyyMMdd}/transactions_%d{yyyyMMdd-HHmm}_%i.log"
			immediateFlush="flase">
			>
			<JsonLayout compact="true" eventEol="true"
				includeStacktrace="false" objectMessageAsJsonObject="true">
			</JsonLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="500" />
		</RollingFile>

		<RollingFile name="asyncTransactionResultsFileAppender"
			fileName="${fada-mall-log-path}/results/results.log"
			filePattern="${fada-mall-log-path}/results/%d{yyyyMMdd}/results_%d{yyyyMMdd-HHmm}_%i.log"
			immediateFlush="flase">
			>
			<JsonLayout compact="true" eventEol="true"
				includeStacktrace="false" objectMessageAsJsonObject="true">
			</JsonLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="500" />
		</RollingFile>

		<RollingFile name="asyncLogsFileAppender"
			fileName="${fada-mall-log-path}/logs/logs.log"
			filePattern="${fada-mall-log-path}/logs/%d{yyyyMMdd}/logs_%d{yyyyMMdd-HHmm}_%i.log"
			immediateFlush="flase">
			>
			<JsonLayout compact="true" eventEol="true"
				includeStacktrace="false" objectMessageAsJsonObject="true">
			</JsonLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="500" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<!-- <AppenderRef ref="RandomAccessFile" /> -->
		</Root>
		<Logger name="com.miip" level="debug">
		</Logger>
		<Logger name="org.apache.kafka.clients.producer.ProducerConfig"
			level="warn" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<!-- fada.mall -->
		<AsyncLogger name="${logger_name_transactions}"
			level="INFO" additivity="false" includeLocation="false">
		</AsyncLogger>
		<AsyncLogger name="${logger_name_results}" level="INFO"
			additivity="false" includeLocation="false">
		</AsyncLogger>
		<AsyncLogger name="${logger_name_logs}" level="INFO"
			additivity="false" includeLocation="false">
		</AsyncLogger>

		<!-- fada.mall.file -->
		<AsyncLogger name="${logger_name_file_transactions}"
			level="INFO" additivity="false" includeLocation="false">
			<AppenderRef ref="asyncTransactionsFileAppender" />
		</AsyncLogger>
		<AsyncLogger name="${logger_name_file_results}"
			level="INFO" additivity="false" includeLocation="false">
			<AppenderRef ref="asyncTransactionResultsFileAppender" />
		</AsyncLogger>
		<AsyncLogger name="${logger_name_file_logs}" level="INFO"
			additivity="false" includeLocation="false">
			<AppenderRef ref="asyncLogsFileAppender" />
		</AsyncLogger>
	</Loggers>
</Configuration>